@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@font-face {
        font-family: 'Miama';
        src: url('path-to-your-font-file/Miama.woff2') format('woff2'),
                url('path-to-your-font-file/Miama.woff') format('woff'),
                url('path-to-your-font-file/Miama.ttf') format('truetype');
}

.dancing-script {
        font-family: "Dancing Script", cursive;
}

body {
        font-family: "Dancing Script", cursive;
}

.inter {
        font-family: "Inter", sans-serif;
}

h1 {
        /* font-family: "Inter", sans-serif; */
        font-family: 'Miama', sans-serif;
}

body {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
        line-height: 2.2;
        font-size: 0.875rem;
        background: rgb(17, 17, 17);
        background-repeat: no-repeat;
}

ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
}

a {
        text-decoration: none;
}

/* header stylig start here */
.nav-main {

        width: 1260px;
        height: 46px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        margin: 20px auto;


}

.nav-header {
        font-size: 36px;
        font-weight: 800;
        font-style: italic;
        color: rgb(230, 83, 60);
        font-family: Inter;


}

.nav_list {
        width: 465px;
        height: 46px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 39px;


}

.nav_list li a {
        font-size: 20px;
        font-weight: 400;
        font-family: Inter;
        color: rgb(255, 255, 255);

}

#Home {
        width: 92px;
        height: 38px;
        justify-content: center;
        align-items: center;
        padding: 8px 20px 8px 20px;
        width: 120px;
        height: 38px;
        border-radius: 46px;
        background: rgb(230, 83, 60);
}

/* banner section styling start here */
.banner_section {
        display: flex;
        width: 1450px;
        height: auto;
        margin-left: 360px;
        /* margin: 20px auto; */
}

/* .banner_continer {
        width: ;
} */

.banner_title {
        width: 520px;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 78px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;

}

.span_title {
        font-family: "Dancing Script", cursive;
        font-weight: 400;
        font-size: 78px;

}

.banner_discrition {
        width: 520px;
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        line-height: 24px;

}

.btn_pririmary {
        width: 224px;
        padding: 16px 40px 16px 40px;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        border: none;
        cursor: pointer;
}

.btn_downlod {
        width: 224px;
        height: 54px;
        border-radius: 42px;
        box-sizing: border-box;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        border: none;
        cursor: pointer;

}

.banner_img {
        width: 350px;
        height: 540x;
        margin-left: 500px;
}

.btn_fast {
        width: 206px;
        height: 96px;
        left: 764px;
        top: 556px;
}

.btn-secon {
        position: absolute;
        width: 193px;
        height: 98px;
        left: 1590px;
        top: 260px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 40px;
        font-weight: 900;
        line-height: 40px;
        text-align: center;
        justify-content: center;
        padding: 10px;
}

#Paragraph {
        color: rgba(255, 255, 255, 0.65);
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 1px;
        text-align: center;
}

.btn-fast,
#bg {
        background: red;
}

.btn-fast {
        position: absolute;
        width: 193px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 40px;
        font-weight: 900;
        line-height: 40px;
        text-align: center;
        justify-content: center;
        padding: 10px;
        margin-left: 1250px;
        margin-top: -140px;

}

/* banner section styling end here */


/* header  stylig end here */

/* main section start here  */
.main_section {
        width: 1140px;
        height: 452px;
        margin: 0 auto;

}

.habit_title {
        font-size: 48px;
        font-weight: 800;
        color: #fff;
        font-family: Inter;
        text-align: center;
        margin-bottom: 20px;
}

.habit_discrition {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        align-items: center;
        margin-left: 50px;
        width: 950px;
        height: 48px;
}

#imgig {
        width: 272px;
        height: 180px;
        border-radius: 100%;
        padding: 20px;
        align-items: center;
}

.card {
        width: 301px;
        height: 274px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
}

.card_title {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        margin: 0;
}

.card_discrition {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
}
.imagis_section{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
      
}

/* main section end here  */


/* responsive section start here */
@media screen and (max-width:576px) {
        .nav-main {
                flex-direction: column;
                padding: 20px;


        }

        .nav_list {
                flex-direction: column;
                display: none;
        }

        .banner_section {
                flex-direction: column;
                padding-left: -50px;
        }

        .banner_title {
                font-size: 32px;
        }
}

/* responsive section end here */